﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Yonder Architecture Sample</title>
    <!-- css -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/css/vendor.css" />
    <link rel="stylesheet" href="~/css/custom.css" />
</head>
<body ng-app="yonder.architectureSample">
    <div class="view" ui-view></div>
    <!-- scripts -->
    <!--<script type="text/javascript" src="~/lib/vendor.js"></script>-->
    
</body>
</html>
